#home_content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-top: 50px;
    padding-right: 50px;
    background-color: #1d1d1d;
}

#home_content h1{
    animation: appear 1s;
    color: #ddd;
    font-size: 30px;
    text-align: right;
    padding: 5px;
    margin: 0px;
}

#home_content p{
    animation: appear 1s;
    color: #ddd;
    font-size: 15px;
    text-align: right;
    padding: 5px;
    margin: 0px;
}